*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "balqis";
  src:
    url(../fonts/balqis.woff2) format(woff2),
    url(../fonts/balqis.woff) format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src:
    url(../fonts/RobotoCondensed-Light.woff2) format(woff2),
    url(../fonts/RobotoCondensed-Light.woff) format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src:
    url(../fonts/RobotoCondensed-LightItalic.woff2) format(woff2),
    url(../fonts/RobotoCondensed-LightItalic.woff) format(woff);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src:
    url(../fonts/RobotoCondensed-Regular.woff2) format(woff2),
    url(../fonts/RobotoCondensed-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  color: #000;
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 21px;
}
ul {
  list-style: none;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-image: url(../images/headerback.jpg);
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  background-position: bottom center;
}
.header_top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
  line-height: 28px;
  font-family: "RobotoCondensed-Regular";
}
.menu_list-item {
  display: inline-block;
}
.menu_list-item + .menu_list-item {
  margin-left: 52px;
}
.menu_list-link:hover {
  text-decoration: underline;
}
.header_phone {
  padding-left: 40px;
  position: relative;
}
.header_phone::before {
  content: "";
  position: absolute;
  background-image: url(../images/trubochka.svg);
  width: 30px;
  height: 30px;
  left: 0;
}
.header_title {
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-family: "balqis";
  font-weight: 300;
}
.header_title span {
  display: block;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  font-family: "RobotoCondensed-Light";
  margin-top: -66px;
  margin-right: 85px;
}
.page-section {
  margin: 200px auto;
  max-width: 1920px;
}
.title {
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
  font-family: "balqis";
  font-weight: 300;
  margin-bottom: 100px;
}
.title span {
  font-family: "RobotoCondensed-LightItalic";
  font-size: 24px;
  line-height: 28px;
  color: #000;
  display: block;
  margin-top: -30px;
  margin-left: 185px;
}

.fairy-tail_slider {
  width: 50%;
}
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.fairy-tail_inner {
  position: relative;
}
.fairy-tail_title span {
  margin-left: 185px;
}
.fairy-tail_container,
.our-trip_container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fairy-tail_body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.fairy-tail_body-title {
  font-family: "RobotoCondensed-Regular";
}
.fairy-tail_text {
  padding: 10px 0;
}
.our-trip_slider {
  width: 50%;
  margin-left: auto;
}
.our-trip_inner {
  position: relative;
}
.our-trip_title span {
  margin-left: 240px;
}
.our-trip_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}
.our-trip_list {
  margin: 5px 0;
  font-size: 24px;
  line-height: 28px;
}
.our-trip_list li:first-child {
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}
.our-trip_btn {
  font-family: "RobotoCondensed-Light";
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #e2ab3f;
  padding: 11px 53px;
}
.our-trip_content {
  padding-right: 55px;
  width: 50%;
}
.hotel_title span {
  margin-left: 120px;
}
.hotel_inner {
  display: flex;
}
.hotel_images {
  margin-right: 100px;
}
.hotel_text {
  margin-bottom: 20px;
}
.hotel_gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotel_gallery a {
  margin-top: 50px;
}
